apiVersion: apps/v1
kind: Deployment
metadata:
  name: puteklis-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: puteklis-api
  template:
    metadata:
      labels:
        app: puteklis-api
    spec:
      containers:
        - name: app
          image: puteklis-api:dev
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: puteklis-api-config
            - secretRef:
                name: puteklis-api-secret
          readinessProbe:
            httpGet:
              path: /api/health/
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /api/health/
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 3
